<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="logback.xsd">
    
    <springProperty name="LOG_PATH" source="logging.path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/spring-media-batch.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
	        <fileNamePattern>${LOG_PATH}/spring-media-batch.%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>30</maxHistory>
	    </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger:%line] %msg%n</pattern>
		</encoder>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="true"/>
    <logger name="com.jpdacunha.media.batch.organizer" level="DEBUG" additivity="true"/>
    <logger name="org.hibernate" level="INFO" additivity="true"/>


    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>