<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty name="LOG_PATH" source="logging.path" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger:%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ORGANIZER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/spring-media-organizer-batch.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/spring-media-organizer-batch.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger:%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="REMOVE_DUPLICATES_FOTOS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/spring-media-remove-duplicates-fotos-batch.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/spring-media-remove-duplicates-fotos-batch.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger:%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" 	level="INFO" additivity="true" />
	<logger name="org.hibernate" 		level="INFO" additivity="true" />
	<logger name="org.quartz" 			level="INFO" additivity="true" />

	<logger name="com.jpdacunha.media.batch.*" level="DEBUG" additivity="true">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.jpdacunha.media.batch.organizer.*" level="DEBUG" additivity="true">
		<appender-ref ref="ORGANIZER_FILE" />
	</logger>
	
	<logger name="com.jpdacunha.media.batch.removeduplicatesfotos.*" level="DEBUG" additivity="true">
		<appender-ref ref="REMOVE_DUPLICATES_FOTOS_FILE" />
	</logger>

	<root>
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ORGANIZER_FILE" />
		<appender-ref ref="REMOVE_DUPLICATES_FOTOS_FILE" />
	</root>
</configuration>